In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

#Ans: 

import pandas as pd

# Create a Pandas Series with the given data
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

import pandas as pd

# Create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Convert the list into a Pandas Series
my_series = pd.Series(my_list)

# Print the series
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

# Create a dictionary with the given data
data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

# Convert the dictionary into a Pandas DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [4]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#Ans: In pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is similar to a spreadsheet or a SQL table, where each column can contain data of a different type (such as numbers, strings, or dates), and each row represents a single observation.

#On the other hand, a Series in pandas is a one-dimensional labeled data structure that can contain any data type. It is similar to a list or an array, where each element is associated with a label or an index.

#The main difference between a DataFrame and a Series is that a DataFrame can contain multiple columns of data, while a Series can only contain a single column of data.

#Here's an example to illustrate the difference between a DataFrame and a Series:
import pandas as pd

# Create a dictionary with data for a DataFrame
data = {
    "Name": ["Richa", "Mohan", "Shalini"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Create a Series from one of the columns of the DataFrame
age_series = df["Age"]

# Print the Series
print(age_series)

      Name  Age  Gender
0    Richa   25  Female
1    Mohan   30    Male
2  Shalini   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

In [5]:
#In this example, we first create a dictionary with data for a DataFrame containing three columns: "Name", "Age", and "Gender". We then use this dictionary to create a Pandas DataFrame using the pd.DataFrame() function. We print the resulting DataFrame, which has three columns and three rows.

#Next, we create a Pandas Series by selecting the "Age" column from the DataFrame using df["Age"]. We print the resulting Series, which has a single column of data with three rows.

#So, the main difference between a DataFrame and a Series is that a DataFrame can contain multiple columns of data, while a Series can only contain a single column of data. In other words, a DataFrame is a collection of Series, where each Series represents a column of data.

In [6]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [7]:
#Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions:

#head() and tail(): These functions allow you to view the first or last n rows of the DataFrame, respectively. For example, df.head() returns the first five rows of the DataFrame df.

#info() and describe(): info() provides information about the DataFrame, such as the data types of each column and the number of non-null values. describe() provides statistical information about the DataFrame, such as the mean, standard deviation, and quartiles of each numerical column.

#drop(): This function allows you to remove rows or columns from the DataFrame. For example, df.drop(columns=["column_name"]) removes the column with the name "column_name" from the DataFrame df.

#groupby(): This function allows you to group the rows of the DataFrame based on one or more columns, and then apply a function to each group. For example, df.groupby("column_name").mean() groups the rows of the DataFrame df based on the values in the column with the name "column_name", and then calculates the mean value for each group.

#merge(): This function allows you to combine two or more DataFrames based on a common column. For example, if you have two DataFrames df1 and df2 with a common column "column_name", you can merge them using pd.merge(df1, df2, on="column_name").

#pivot_table(): This function allows you to create a pivot table from the DataFrame, where the values of one column are aggregated based on the values of two or more other columns. For example, pd.pivot_table(df, values="value_column", index="row_column", columns="column_column", aggfunc="mean") creates a pivot table where the mean value of the "value_column" is calculated for each combination of values in the "row_column" and "column_column".

#These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame. The choice of which function to use depends on the specific task at hand. For example, if you want to remove some unnecessary columns from the DataFrame, you can use df.drop(). If you want to calculate some statistics for each group of rows based on a certain column, you can use df.groupby().

In [8]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#Ans: Both Series and DataFrame are mutable in nature in Pandas, which means that you can modify their content after creation. However, Panel is not mutable in Pandas, as it has been deprecated since version 0.25.0 and replaced with the more powerful multi-dimensional data structures such as the xarray library.

In [9]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Create a Series of student names
students = pd.Series(['Rohan', 'Manahar', 'Alka', 'Sonam'])

# Create a Series of student IDs
ids = pd.Series([1001, 1002, 1003, 1004])

# Create a Series of student grades
grades = pd.Series(['A', 'B', 'C', 'A'])

# Combine the Series into a DataFrame
df = pd.DataFrame({'Student': students, 'ID': ids, 'Grade': grades})

# Print the DataFrame
print(df)

   Student    ID Grade
0    Rohan  1001     A
1  Manahar  1002     B
2     Alka  1003     C
3    Sonam  1004     A